<div class="container">
    <div class="card">
        <div class="circle">
            <h2>Bebida</h2>
        </div>
        <div class="content">
            <p>Hola soy la bebidaHola soy la bebida
                Hola soy la bebidaHola soy la bebida
            </p>
            <a href="a">Pedir</a>
        </div>
    </div>

    <div class="card">
        <div class="circle">
            <h2>Comida</h2>
        </div>
        <div class="content">
            <p>Hola soy la bebidaHola soy la bebida
                Hola soy la bebidaHola soy la bebida
            </p>
            <a href="a">Pedir</a>
        </div>
    </div>

    <div class="card">
        <div class="circle">
            <h2>Postres</h2>
        </div>
        <div class="content">
            <p>Hola soy la bebidaHola soy la bebida
                Hola soy la bebidaHola soy la bebida
            </p>
            <a href="a">Pedir</a>
        </div>
    </div>
</div>