<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="content-element" *ngFor="let element of data.restaurant.menu; index as i">
        {{ element.sectionName }}
    </mat-grid-tile>
</mat-grid-list>




    <!--<mat-grid-tile colspan="1" rowspan="64" style="background-color: white;"></mat-grid-tile>
        <mat-grid-tile colspan="5" rowspan="64" style="background-color: lightblue;">{{ elememt.sectionName }}</mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="64" style="background-color: white;"></mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="64" style="background-color: lightblue;">Comida</mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="64" style="background-color: white;"></mat-grid-tile>

    <mat-grid-tile colspan="13" rowspan="9" style="background-color: white;"></mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="64" style="background-color: white;"></mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="64" style="background-color: lightblue;">Bebidas</mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="64" style="background-color: white;"></mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="64" style="background-color: lightblue;">Comida</mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="64" style="background-color: white;"></mat-grid-tile>-->

