<mat-drawer-container class="container">
    <mat-drawer #drawer class="sidenav" mode="side">
      <button type="button" color="warn" mat-icon-button (click)="drawer.toggle()">
        <mat-icon id="back-menu-icon" aria-hidden="false" aria-label="Example home icon">arrow_back_ios</mat-icon>
      </button>
      <app-sidenav-element></app-sidenav-element>
    </mat-drawer>
  
    <div class="sidenav-content">
      <button type="button" color="warn" mat-icon-button (click)="drawer.toggle()">
        <mat-icon id="menu-icon" aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
      </button>
    </div>
  
</mat-drawer-container>